:root {
  --bg: rgb(19, 19, 19);
  --bg-light: rgb(27, 27, 27);

  --border: rgba(247, 247, 248, 0.1);

  --primary: rgba(255, 208, 77, 0.2);
  --primary-light: rgb(255, 184, 77);

  --tx-normal: rgb(255, 255, 255);
  --tx-semi: rgb(156, 163, 175);
  --tx-dimmed: rgb(125, 125, 125);

  --sm-green: rgb(34, 197, 94);
  --sm-red: rgb(239, 68, 68);
}